/* Estilos para o header */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  

  .header-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end; /* Alinhar os elementos à direita */
    align-items: center;
  }
  
  .button {
    background-color: #FF5722;
    color: #fff;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #E64A19;
  }

  footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }

  .card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 100%; /* Garante que cada card tenha a mesma altura */
  }
  
  .active-card {
    background-color: #ffcccc; /* Vermelho claro */
  }
  
  